@import '~bootstrap/scss/bootstrap';

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.x-shadow-fade-in {
  transition-duration: .33s;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
}

.x-link-without-decoration {
  text-decoration: none!important;
}

.main {
  &__project {
    &_preview-image {
      width: 272px;
      height: 153px;
    }
  }
}
